:root {
    --Primary-Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Primary-Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Primary-Grayish-Blue: hsl(212, 23%, 69%);
    --Primary-Light-Grayish-Blue: hsl(210, 46%, 95%);
    --Primary-Share-colour: #48556a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    top: 50vh;
    font-size: 62.5%;
    position: relative;
}

html {
    font-family: "Manrope", sans-serif;
}

.grid-container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* width: 800px; */
    width: 60%;
    margin: 0 auto;

    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "Card-Image Card-Details";
    box-shadow: 10px 10px 20px 1px rgb(223, 232, 235);
}
.card-image-container {
    grid-area: Card-Image;
    background-image: url("images/drawers.jpg");
    background-repeat: no-repeat;
    min-height: 30vh;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-details-container {
    grid-area: Card-Details;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--Primary-Very-Dark-Grayish-Blue);
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    margin-top: 1rem;
    color: var(--Primary-Very-Dark-Grayish-Blue);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.person-details {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "avatar avatar-name avatar-name . share-icons"
        "avatar date date . share-icons";
}

.avatar {
    grid-area: avatar;
    height: 42px;
    width: 42px;
    background: url("images/avatar-michelle.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-name {
    grid-area: avatar-name;
    font-weight: 800;
}

.date {
    grid-area: date;
    opacity: 0.3;
}

.icon {
    grid-area: share-icons;
    width: 30px;
    height: 30px;
    background: #e6e7ed;
    border-radius: 50%;
    background-image: url("images/icon-share.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    justify-self: end;
    outline: 0;
    border: 0;
}

.icon:hover {
    background-color: darkgray;
}

.clip-me::before {
    content: "";
    height: 10px;
    width: 10px;
    position: relative;
    top: 26px;
    left: 120px;
    transform: rotate(45deg);
    background-color: var(--Primary-Very-Dark-Grayish-Blue);
    z-index: -1; /* send behind the main clip-me */
}

.clip-me {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas: ". shareText shareText facebook twitter pinterest .";
    height: 3.4rem;
    width: 15.5rem;
    position: absolute;
    top: 10rem;
    right: -3.7rem;
    border-radius: 8px;
    background-color: var(--Primary-Very-Dark-Grayish-Blue);
    align-items: center;

    z-index: 1; /* bring to front*/
}

.shareText {
    grid-area: shareText;
    color: var(--Primary-Desaturated-Dark-Blue);
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

.facebook {
    grid-area: facebook;
    background-image: url("images/icon-facebook.svg");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.twitter {
    grid-area: twitter;
    background-image: url("images/icon-twitter.svg");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.pinterest {
    grid-area: pinterest;
    background-image: url("images/icon-pinterest.svg");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 800px) {
    .grid-container {
        display: block;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .card-image-container {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .card-details-container {
        padding-bottom: 0.2rem;
    }

    h2 {
        font-size: 1.1rem;
        font-weight: 900;
    }

    .footer {
    }

    .clip-me {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 10px;
        grid-template-areas: ". shareText shareText facebook twitter pinterest .";
        width: 100%;
        position: static;
    }
}
